<div class="nav-partial">
    <nav>
        <h1>Gamblerz Paradise</h1>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/logout"> Logout</a></li>
        </ul>
    </nav>
</div>
