<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petsdotcom</title>
</head>
<body>
    

            <h1>YOUR ONE IN ALL<br>SOLUTION FOR<br>EVERYTHING GAMBLING.</h1>
       

           <h2> Create Account:</h2>
             <p> Already have one? <a href="/login">Login </a> here!</p>
           <br>  
            <form action="/index" method="POST">
                <input  type="text" name="username" placeholder="Username">
                <br>
                <input type="password" name="password" placeholder="Password">
                <br>
                <input  type="text" name="email" placeholder="Email">
                <br>
                <button type="submit">sign up</button>
        
            </form>
    </body>
</html>

