<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Link</title>
</head>
<body>
    <h2>Perfect, now that we have that verified...</h2>
    <p>Click the link below to reset your password:</p>
    <a href="<%= resetLink %>" target="_blank">Reset Password</a>
</body>
</html>