@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(255, 0, 102);
}

header {
    position: sticky;
    top: 0px;
    z-index: 999;
}


.wrapper {
    gap: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #c2c2c2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nav-partial nav {
    background-color: #c4c4c4;
    position: sticky;
    border: 1px solid #a1a1a1;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-partial nav ul {
    list-style-type: none;
}

.nav-partial nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-partial nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Space between boxes */
    padding: 20px;
  }
  
  .product {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
  }
  
  .product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* Center the grid container and control its width */
.product-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
}

/* Ensure images line up nicely */
.product-images-inside {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
}

/* Style the details section */
.product-details-inside {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

.product-name-inside {
    font-size: larger;
}
.product-description-inside {
    font-weight: 300;
}