<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
    <body>

        <div class="wrapper">

            <main>
                <script>
                    // Check if the query parameter 'message' exists and show an alert
                    const urlParams = new URLSearchParams(window.location.search);
                    const message = urlParams.get('message');
                    if (message) {
                        alert(message); // Show alert
                    }
                </script>
                <h2> OMG Its a login page</h2>
                <form action = "/login" method = "POST">
                    <input type = "text" name = "username" placeholder = "Username">
                    <br>
                    <input type = "password" name = "password" placeholder = "Password">
                    <br>
                    <button type="submit">Login</button>
                    
                </form>
                <br>
<<<<<<< HEAD
                <h3> Don't have an account? <a href="/createUser" >Make one here!</a></h3>
=======
                <a href="/createUser">Create New User</a>
                <br>
>>>>>>> c28165c6c8cf8d928bcc2a231e67cabab53cdd2b
                <a href="/forgot-password">Forgot Password?</a>
                
            </main>
            <footer>
                <%- include('../partials/footerPartial') %>
            </footer>
        </div>
    </body>

</html>



    
